body{
    background-size: 19%;
    background-repeat: no-repeat;
    background-position: 75%, 100%;
}


h1{
    font: lighter 60px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
    top: 260px;
}

p{
    text-align: center;
    color: #606060;
    font: normal 15px "Helvetica Neue", sans-serif;
    margin-top: 13px;
}

img{
    width:680px;
}

.wo{
   text-align: center;
}

.row{
    margin-left:70px;
}

.col-md-3{
    margin-top:30px;
    margin-left: 40px;
}

.footer{
    margin-top: 30px;
    margin-bottom: 30px;
}

span{
    margin-bottom: 0px;
    font-size: 50px;
}