

h1{
    font: lighter 40px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
    top: 260px;
}

h3{
    font: normal 23px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
}

h4{
    font: normal 13px "Helvetica Neue", sans-serif;
    color: #929292;
    text-align: center;
}

p{
    text-align: center;
    color: #606060;
    font: normal 13px "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

img{
    display: block;
    position: middle;
    width: 750px;
    margin: 0 auto;
    margin-top: 30px;
}

.nav>li>a{
    color: #5b5b5b;
  }
  
.nav>li>a:hover{
      color:#1e57c9;
  }

embed{
    display: block;
    margin: 0 auto;
}

.row{
    margin-left:10px;
}

.col-md-3{
    margin-top:30px;
    margin-left: 40px;
}

.footer{
    margin-top: 30px;
    margin-bottom: 30px;
}

.titel>p{
    margin-top: 25px;
    text-align: left;
    line-height: 17.5px;
    font-size: 1.4rem;
    color: #929292;
    /* word-spacing:1px;
    letter-spacing: 0.2px; */
}

.titel{
    margin: 0 auto;
    width: 750px;
}

.text{
    text-align: center;
}

.xiangao>img {
    width: 950px;
    margin-bottom: 0px;
}

body{
    margin:0;
    padding:0;
 /*for箭头样式*/
}

.ad{
    margin: auto;
    width:50%;
    width: 750px;
    height: 500px;
    position: relative;
    

}
.ad .list{
    width: 750px;
    height: 500px;
    text-align: center;
}


.ad .list img{
    display: block;
    float: left;
    position: absolute;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    /* 如果不需要兼容IE9，直接用L26-L30和L36-L40代码来实现透明度渐变即可，否则用L */
}
/* 选中图片样式 */
.ad .list .selected{
    z-index: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
}
.ad .btn{
    position: absolute;
    bottom: 5px;
    left: 300px;
    text-align: center;
    z-index: 2;
}
.ad .btn span{
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-left: 6px;
    background-color: rgba(12, 12, 12, 0.393);
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
}
/* 选中按钮样式 */
.ad .btn .on{
    background-color: rgba(0, 0, 0, 0.548);
    opacity: 0.8;
    color: rgba(27, 27, 27, 0.509);
}
.ad .arrow{
    display: block;
    width: 30px;
    text-decoration: none;
    background-color: #000;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 200px;
    color: #fff;
    opacity: 0;
    z-index: 2;
}
.ad:hover .arrow{
    opacity: 0.5;
}
.ad .arrow:hover{
    opacity: 1;
}
.ad #prev{
    left: 5px;
}
.ad #next{
    right: 5px;
}
.clearfix:after{
    content:" ";
    display:table;
    clear:both;
}