body{
    background-size: 200%;
}

h1{
    font: lighter 40px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
    top: 260px;
}

h3{
    font: normal 23px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
}

h4{
    font: normal 18px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
}

p{
    text-align: center;
    color: #606060;
    font: normal 13px "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

img{
    display: block;
    position: middle;
    width: 300px;
    margin: 0 auto;
}

.nav>li>a{
    color: #5b5b5b;
  }
  
.nav>li>a:hover{
      color:#1e57c9;
  }

embed{
    display: block;
    margin: 0 auto;
}