body{
    background-size: 200%;
}

h1{
    font: lighter 40px "Helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
    top: 260px;
}

h3{
    font: normal 30px "helvetica Neue", sans-serif;
    color: #606060;
    text-align: center;
}

p{
    text-align: center;
    color: #606060;
    font: normal 15px "Helvetica Neue", sans-serif;
    margin-top: 13px;
}

.row{
    margin-left:70px;
}

.col-md-3{
    margin-top:30px;
    margin-left: 20px;
}

img{
    display: block;
    width:280px;
    margin: 0 auto;
}